<div class="flex p-5 gap-6 text-white font-display max-w-4xl uppercase">
  <div class="flex flex-wrap gap-2">
    Current Stack:
    <div class="flex flex-wrap gap-2">
      <img
        src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white"
        alt="typescript"
      />

      <img
        src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white"
        alt="tailwind-css"
      />
      <img
        src="https://img.shields.io/badge/next%20js-000000?style=for-the-badge&logo=nextdotjs&logoColor=white"
        alt="nextjs"
      />

      <img
        src="https://img.shields.io/badge/Prisma-3982CE?style=for-the-badge&logo=Prisma&logoColor=white"
        alt="prisma"
      />
      <img
        src="https://img.shields.io/badge/React_Query-FF4154?style=for-the-badge&logo=ReactQuery&logoColor=white"
        alt="react-query"
      />
      <img
        src="https://img.shields.io/badge/bun-282a36?style=for-the-badge&logo=bun&logoColor=fbf0df"
        alt="bun"
      />
      <img
        src="https://img.shields.io/badge/shadcn%2Fui-000000?style=for-the-badge&logo=shadcnui&logoColor=white"
        alt="shadcn"
      />
    </div>
  </div>
</div>
