---
import Banner from "@/components/landing/Banner.astro";
import Tech from "@/components/landing/CurrentTech.astro"
---


<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-white  font-display text-3xl lg:text-5xl uppercase"> 
                    Full-Stack Web Developer
                </h1>
                <br>
                <h2 class="text-white font-sans text-3xl font-bold">
                    Hello! I'm Aman
                </h2>
                <p class="text-white font-sans ">
                    
                    A  passionate full-stack web developer. Tech Stack Used in the Past. <span class="text-xl">👇</span>
                    
                </p>
      </div>
      <Banner />
      <Tech/>

    </div>
  </div>
</section>