<section class="border-white/20 border-b">
  <div
    class="mx-auto border-white/20 border-x max-w-7xl gradient-grid lg:text-xl"
  >
    <div class="mx-auto max-w-7xl p-8">
      <div class="flex p-5 gap-6 text-white font-display">
        <div class="flex flex-wrap gap-2 max-w-7xl">
          <div class="flex flex-wrap gap-1">
            Basics:
            <img
              src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
              alt="html"
            />
            <img
              src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white"
              alt="css"
            />
            <img
              src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=JavaScript&logoColor=white"
              alt="js"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-wrap text-white gap-6 p-5 font-display">
        <div class="flex flex-wrap gap-2">
          MERN:
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white"
              alt="mongodb"
            />

            <img
              src="https://img.shields.io/badge/Express%20js-000000?style=for-the-badge&logo=express&logoColor=white"
              alt="express"
            />
            <img
              src="https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB"
              alt="react"
            />

            <img
              src="https://img.shields.io/badge/Node%20js-339933?style=for-the-badge&logo=nodedotjs&logoColor=white"
              alt="nodejs"
            />
            <img
              src="https://img.shields.io/badge/Sass-CC6699?style=for-the-badge&logo=sass&logoColor=white"
              alt="sass"
            />
            <img
              src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white"
              alt="bootstrap"
            />
          </div>
        </div>
      </div>
      <div class="flex p-5 gap-6 font-display text-white">
        <div class="flex flex-wrap gap-2">
          Other Languages:
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white"
              alt="java"
            />
            <img
              src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue"
              alt="python"
            />

            <img
              src="https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white"
              alt="c++"
            />
            <img
              src="https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white"
              alt="php"
            />
          </div>
        </div>
      </div>
      <div class="flex p-5 gap-6 font-display text-white">
        <div class="flex flex-wrap gap-2">
          Want to Learn:
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/redis-%23DD0031.svg?&style=for-the-badge&logo=redis&logoColor=white"
              alt="redis"
            />
            <img
              src="https://img.shields.io/badge/Vue.js-35495E?style=for-the-badge&logo=vue.js&logoColor=4FC08D"
              alt="vue.js"
            />
            <img
              src="https://img.shields.io/badge/React_Native-20232A?style=for-the-badge&logo=react&logoColor=61DAFB"
              alt="react-native"
            />
          </div>
        </div>
      </div>
      <div class="flex p-5 gap-6 font-display text-white">
        <div class="flex flex-wrap gap-2">
          Currently Learning:
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/Astro-0C1222?style=for-the-badge&logo=astro&logoColor=FDFDFE"
              alt="astro"
            />
            <img
              src="https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white"
              alt="go"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
