---
import "../styles/global.css";

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Aman Gundhada" />

<!-- <link rel="icon" href="/favicon.svg" sizes="any"/>-->
<link rel="icon" type="image/png" href="favicons/Web/icons8-fire-color-96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="favicons/Web/icons8-fire-color-32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="favicons/Web/icons8-fire-color-16.png" sizes="16x16"/>

<link rel="apple-touch-icon" href="favicons/iOS Safari Web Clip/icons8-fire-color-57.png" sizes="57*57"/>
<link rel="apple-touch-icon" href="favicons/iOS Safari Web Clip/icons8-fire-color-60.png" sizes="60*60"/>
<link rel="apple-touch-icon" href="favicons/iOS Safari Web Clip/icons8-fire-color-72.png" sizes="72*72"/>
<link rel="apple-touch-icon" href="favicons/iOS Safari Web Clip/icons8-fire-color-76.png" sizes="76*76"/>
<link rel="mask-icon" href="favicons/iOS Safari Web Clip/icons8-fire-color-76.pngg" color="#5bbad5"/>

<link rel="manifest" href="favicons/Android Chrome/manifest.json"/>
<link rel="icon" type="image/png" href="favicons/Android Chrome/icons8-fire-color-72.png" sizes="72x72"/>
<link rel="icon" type="image/png" href="favicons/Android Chrome/icons8-fire-color-96.png" sizes="96x96"/>


<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<title> kxz&nbsp;|&nbsp;portfolio</title>


<script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css"
/>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"
></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
